.footer {
  background: var(--tertiary);
  grid-column: 1 / 3;
  padding: 0 0.5rem;

  @extend %flex-column-all-center;

  &__item-container {
    @extend %flex-column-all-center;
  }

  &__item {
    padding: 1px 8px;
    user-select: none;
    color: var(--contrast-tertiary);
    text-decoration: none;
    @extend %flex-column-start-center;
    text-align: center;

    &--icon {
      font-size: 0.875rem;
      display: inline-block;
      margin-right: 0.3125rem;
    }

    &--text {
      font-size: 0.75rem;
    }
  }
}
