:root {
  --primary: #222;
  --secondary: #37373d;
  --secondary-light: #252526;
  --secondary-dark: #2d2d2d;
  --tertiary: #007acc;
  --contrast-primary: #f7f7f7;
  --contrast-secondary: #aaa;
  --contrast-tertiary: #f7f7f7;
  --contrast-secondary-light: #aaa;
  --select: #fff;
}
